body {
    background: linear-gradient(rgb(98, 0, 255), rgb(34, 142, 214));
    color: red;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}
canvas {
    border: solid 0.2em green;
    height: 90vh;
    margin-right: 10%;
}
.div {
    font-family: "Courier New";
    color: yellow;
    font-size: 20px;
    float: left;
    background: blue;
    border: 3px rgb(47, 70, 47) solid;
    text-align: left;
}
.tetris tr td {
    width: 30px;
    height: 22px;
    padding: 0px;
}

.celda0 {
    background-color: #000000;
}
.celda1 {
    background-color: #0000ff;
}
.celda2 {
    background-color: #ff0000;
}
.celda3 {
    background-color: #00ff00;
}
.celda4 {
    background-color: #ffff00;
}
.celda5 {
    background-color: #00ffff;
}
.celda6 {
    background-color: #ff00ff;
}
.celda7 {
    background-color: #888888;
}
#tetris {
    margin-left: 36%;
}

#tetris #canvas {
    place-content: center;
}
